<!DOCTYPE html>
<html>
<head>
	<title>FLAVORTOWN</title>
	<link rel="stylesheet" type="text/css" href="styles/styles.css">
</head>
<body>
<div id="container">
	<div id="header">
		<h1 align="center">Welcome to Flavortown!</h1>
		<img src="../public/styles/photos/convertible.png"/>
	</div>

		<h2 id="hungerMeter">Hunger: 10</h2>
		<h2 id="happinessMeter">Happiness: 10</h2>
		<h2 id="sleepMeter">Sleeping: </h2>
		<h2 id="ageMeter">Age: </h2>

    <div class="toma" id="1" align="center"><img src="../public/styles/photos/fierinormal.png"/></div>

    <div class="toma hidden" id="2" align="center"><img src="../public/styles/photos/fieriexcited.png"/></div>

<br>
		<button id="feedbtn" class="btn animated tada">Feed</button>
		<button id="happinessbtn" class="btn animated tada">Happiness</button>
		<button id="sleepbtn" class="btn animated tada">Sleep</button>


</div>
<script src="js/app.js"></script>
</body>
</html>