<!DOCTYPE html>
<html>
<head>
	<title>FLAVORTOWN</title>
	<link rel="stylesheet" type="text/css" href="styles/styles.css">
</head>
<body>
<div id="container">
	<div id="header">
		<h1 align="center" class="animated swing">Welcome to Flavortown!</h1>
	</div>

<div id="h2meters" align="center">
	<h2 id="hungerMeter">Hunger: 10</h2>
	<h2 id="sleepMeter">Sleeping: </h2>
	<h2 id="happinessMeter">Happiness: 10</h2>
	<h2 id="ageMeter">Age: </h2>
</div>

    <div class="toma animated tada" id="one" align="center"></div>
<!--     <div class="toma hidden animated tada" id="two" align="center"></div> -->

<br>
<div id="chickenwingcontainer">
	<button id="feedbtn" class="btn animated tada">Feed</button>
	<button id="happinessbtn" class="btn animated tada">Happiness</button>
	<button id="sleepbtn" class="btn animated tada">Sleep</button>
</div>

</div>
<script src="js/app.js"></script>
</body>
</html>