<!DOCTYPE html>
<html>
<head>
	<title>FLAVORTOWN</title>
	<link rel="stylesheet" type="text/css" href="styles/styles.css">
</head>
<body>
<div id="container">
	<div id="header">
		<img src="/styles/photos/image.149188654.9882.u1.png" alt="logo" />
		<h1 align="center">Welcome to Flavortown!</h1>


		<h2 id="hungerMeter">Hunger: 10</h2>
		<h2 id="happinessMeter">Happiness: 10</h2>
		<h2 id="sleepMeter">Sleeping: </h2>
		<h2 id="ageMeter">Age: </h2>

    <div class="toma" id="1"><img src="https://scontent.xx.fbcdn.net/v/t1.0-9/12289665_10103120315829070_3162472675208701340_n.jpg?oh=c295e210a873607ece9385ed362eda4e&oe=594B4FD7" width="210" height="210"/></div>

    <div class="toma hidden" id="2"><img src="https://scontent.xx.fbcdn.net/v/t1.0-9/12289665_10103120315829070_3162472675208701340_n.jpg?oh=c295e210a873607ece9385ed362eda4e&oe=594B4FD7" width="210" height="210"/></div>

		<button id="feedbtn" class="btn">Feed</button>
		<button id="happinessbtn" class="btn">Happiness</button>
		<button id="sleepbtn" class="btn">Sleep</button>


</div>
<script src="js/app.js"></script>
</body>
</html>