<div id="logincontainer">
	<div class="animated jello">
		<div id="loginwordscontainer" align="center">
			<h1 id="loginh1" align="center">welcome</h1>
			<h2 id="signinorregister" align="center">log in or register</h2>
				<div id="flavortownloginimage" align="right">
				</div>
		</div>

<br>

		<form action="/register/login" method="post" align="center">
			<input type="text" name="username" placeholder="Username" align="center"/>
			<input type="password" name="password" placeholder="Password" align="center"/>
			<button id="loginbtn" align="center">login</button>
		</form>
		<br>
		<form action="/register" method="get" align="center">
		<button id="getbtn">go to register</button>
		</form>
	</div>
</div>