<div id="logincontainer">
	<div class="animated rubberBand">
		<div id="loginwordscontainer" align="left">
			<h1 id="loginh1" align="center">welcome</h1>
				<div id="flavortownloginimage"></div>
		</div>

<br>

		<h2 id="loginh2" align="center">log in or register</h2>
		<div id="bottomhalfcontainer">
			<form action="/register/login" method="post" align="center">
				<input type="text" name="username" placeholder="Username" align="center"/>
				<input type="password" name="password" placeholder="Password" align="center"/>
					<button id="loginbtn" align="center">login</button>
			</form>
			<br>
			<form action="/register" method="get" align="center">
				<button id="getbtn">go to register</button>
			</form>
		</div>
	</div>
 		 <embed src="/styles/soundfiles/DinersDriveInsandDivesintro.mp3" autostart="true" loop="false" hidden="true"> 
</div>