<div id="bigcontainer2">
	<div class="animated rubberBand">
		<div id="registerheadercontainer" align="center">
			<h1 id="registerh1" align="center">register</h1>
				<div id="flavortownimage" align="right">
				</div>
		</div>

		<form action="/register" method="post" align="center">
			<input type="text" name="username" placeholder="Username" align="center"/>
			<input type="password" name="password" placeholder="Password" align="center"/>
			<button id="registerbtn" align="center">register</button>
		</form>
	</div>
</div>