/* code that is here, until the first @media block, will apply to any screen size */
#somethingorother {
  width: 800px ;
}
@media screen and (max-width: 320px) {
  /* comes into effect for screens less than or equal to 320 pixels */
  #somethingorother {
    width: 120px ;
  }
}
@media screen and (min-width: 321px) and (max-width: 480px) {
  /* comes into effect for screens between 321 and 480 pixels (inclusive) */
  #somethingorother {
    width: 320px ;
  }
}
@media screen and (min-width: 481px) {
  /* comes into effect for screens larger than or equal to 481 pixels */
  #somethingorother {
    width: 480px ;
  }
}
/* code that is here will apply to any screen size */
/* code that is here will apply to any screen size */
/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: #000000;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}
h1 {
  position: relative;
  font-family: 'Press Start 2P', Sans-Serif;
  top: 18px;
  left: 9%;
  color: #db1e1e;
}
body {
  margin: 5%;
  background-image: -webkit-linear-gradient(0deg, #fff9af, #ffb23c);
  background-image: -moz-linear-gradient(0deg, #fff9af, #ffb23c);
  background-image: -o-linear-gradient(0deg, #fff9af, #ffb23c);
  font-family: 'Press Start 2P', Sans-Serif;
}
#container {
  width: 740px;
  height: 660px;
  margin-left: 7%;
  margin-top: -5%;
  padding: 1px;
}
#speechbubble {
  margin-left: 12%;
  color: #000000;
  text-align: center;
}
#bigcontainer2 {
  width: 450px;
  height: 450px;
  margin-left: 25%;
}
#logincontainer {
  width: 450px;
  height: 450px;
  margin-left: 25%;
}
#loginwordscontainer {
  height: 250px;
  width: 500px;
  padding: 15px;
  margin-left: 8%;
  margin-right: 19%;
  margin-top: 19%;
  margin-bottom: 10%;
}
#flavortownloginimage {
  -ms-transform: rotate(15deg);
  /* IE 9 */
  -webkit-transform: rotate(15deg);
  /* Chrome, Safari, Opera */
  transform: rotate(15deg);
  height: 228px;
  width: 250px;
  float: right;
  background-image: url("photos/image.149188654.9882.u1.png");
}
#registerheadercontainer {
  height: 250px;
  width: 500px;
  padding: 15px;
  margin-left: 8%;
  margin-right: 19%;
  margin-top: 19%;
  margin-bottom: 10%;
}
.btn {
  background-color: transparent;
  border: none;
  background-image: url("photos/wing.png");
  padding: 1px;
  height: 150px;
  width: 195px;
  cursor: pointer;
  font-family: 'Press Start 2P', Sans-Serif;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}
#flavortownimage {
  -ms-transform: rotate(15deg);
  /* IE 9 */
  -webkit-transform: rotate(15deg);
  /* Chrome, Safari, Opera */
  transform: rotate(15deg);
  height: 228px;
  width: 250px;
  float: right;
  background-image: url("photos/image.149188654.9882.u1.png");
}
#header {
  margin-left: 15%;
}
#hamburger {
  height: 230px;
  width: 256px;
  float: right;
  background-image: url("photos/burger-outline-filled.png");
}
#hamburger:hover {
  cursor: pointer;
}
#hamburgermenu {
  height: 225px;
  width: 25%;
  overflow: scroll;
  margin-left: 60%;
  float: right;
}
#hamburgermenu li {
  list-style: none;
}
#hamburgermenu li a {
  text-decoration: none;
}
#h2meters {
  margin-left: 13%;
}
#registerh1 {
  float: left;
  width: 100px;
  height: 70px;
  margin-left: -7%;
}
#loginh2 {
  float: left;
  width: 530px;
  height: 70px;
}
#loginh1 {
  float: left;
  width: 100px;
  height: 70px;
}
#bottomhalfcontainer {
  margin-left: 15%;
}
#one {
  background-image: url("photos/fierinormal.png");
  width: 356px;
  height: 400px;
  margin-left: 30%;
  margin-bottom: -4%;
}
#two {
  background-image: url("photos/fieriexcited.png");
  width: 261px;
  height: 400px;
  margin-left: 30%;
  margin-bottom: -4%;
  z-index: 2;
}
.hidden {
  display: none;
}
#hungerMeter {
  display: inline;
  padding: 5px;
  margin-left: 10%;
}
#happinessMeter {
  display: inline;
  padding: 5px;
}
#sleepMeter {
  display: inline;
  padding: 5px;
}
#ageMeter {
  display: inline;
  padding: 5px;
}
#chickenwingcontainer {
  margin-left: -7%;
  width: 860px;
  height: 150px;
}
#feedbtn {
  display: inline;
  background-repeat: no-repeat;
}
#happinessbtn {
  display: inline;
  background-repeat: no-repeat;
}
#sleepbtn {
  display: inline;
  background-repeat: no-repeat;
}
#agebtn {
  display: inline;
  background-repeat: no-repeat;
}
